# Virtual Environment
.venv/
venv/
ENV/

# Python caching
**/__pycache__/
*.py[cod]
*$py.class

# Airbnb listings data directory
Airbnb-Listings-Deep-Dive/data/

# Compressed output images directory

